In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
plt.rcParams["figure.figsize"] = (12,7)

In [2]:
data = pd.read_csv('income_evaluation.csv')

In [3]:
data.head(1)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K

In [4]:
data.shape

(32561, 15)

In [5]:
data.columns

Index(['age', ' workclass', ' fnlwgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' income'],
      dtype='object')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age                32561 non-null int64
 workclass         32561 non-null object
 fnlwgt            32561 non-null int64
 education         32561 non-null object
 education-num     32561 non-null int64
 marital-status    32561 non-null object
 occupation        32561 non-null object
 relationship      32561 non-null object
 race              32561 non-null object
 sex               32561 non-null object
 capital-gain      32561 non-null int64
 capital-loss      32561 non-null int64
 hours-per-week    32561 non-null int64
 native-country    32561 non-null object
 income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
del data[' fnlwgt']
del data[' education-num']
del data[' relationship']

In [8]:
data.columns

Index(['age', ' workclass', ' education', ' marital-status', ' occupation',
       ' race', ' sex', ' capital-gain', ' capital-loss', ' hours-per-week',
       ' native-country', ' income'],
      dtype='object')

In [9]:
data.columns=['age', 'workclass', 'education', 'married', 'occupation',\
              'race', 'sex', 'gain', 'loss', 'hours', 'country',  'income']

In [10]:
data.columns

Index(['age', 'workclass', 'education', 'married', 'occupation', 'race', 'sex',
       'gain', 'loss', 'hours', 'country', 'income'],
      dtype='object')

In [11]:
data = data[data.country == ' United-States']
del data['country']

In [12]:
data = data[data.gain == 0]
del data['gain']

In [13]:
data = data[data.loss == 0]
del data['loss']

In [14]:
data.count()

age           25320
workclass     25320
education     25320
married       25320
occupation    25320
race          25320
sex           25320
hours         25320
income        25320
dtype: int64

In [15]:
data.head(1)

,age,workclass,education,married,occupation,race,sex,hours,income
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,13,<=50K

In [16]:
data.shape

(25320, 9)

In [17]:
data = data[data.workclass != ' ?']
data = data[data.occupation != ' ?']

In [18]:
data.shape

(23816, 9)

In [19]:
data.head(3)

,age,workclass,education,married,occupation,race,sex,hours,income
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,13,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,White,Male,40,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Black,Male,40,<=50K

In [20]:
data.income.value_counts()

 <=50K    19009
 >50K      4807
Name: income, dtype: int64